$aqua: rgb(127, 255, 212);
$cadetBlue: rgb(95, 158, 160);
$lightAqua: rgb(220, 253, 242);
$darkAqua: rgb(51, 96, 81);
$darkCadetBlue: rgb(44, 72, 73);
$displayBG: circle, rgba(222, 255, 244, 0.7316176470588236) 44%, rgba(42, 72, 73, 0.16299019607843135) 100%;
$keyBG: 0deg, rgba(222, 255, 244, 0.5745) 0%, rgba(127, 255, 212, 1) 18%, rgba(127, 255, 212, 1) 68%, rgba(84, 164, 137, 1) 100%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px solid red;
}
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Anonymous Pro', monospace;
}
body,
.wrapper,
.display {
    display: flex;
    flex-direction: column;
}
button {
    cursor: pointer;
    border: none;
    font-weight: 400;
}
.wrapper {
    justify-content: center;
    margin-top: 50px;
    height: auto;
    width: auto;
    max-width: 370px;
    border-radius: 15px;
    background-color: $cadetBlue;
    border: 5px solid $cadetBlue;
    box-shadow: 0 5px 8px $darkCadetBlue, 0 5px 15px lightGrey, 0 5px 6px $darkCadetBlue;
    .display {
        background: rgb(222, 255, 244);
        background: -moz-radial-gradient($displayBG);
        background: -webkit-radial-gradient($displayBG);
        background: radial-gradient($displayBG);
        height: 65px;
        width: 95%;
        padding: 7px 10px;
        margin: 5px auto;
        border-radius: 10px;
        .results,
        .firstNum {
            height: 40%;
        }
        .firstNum {
            font-size: 21px;
        }
        .results {
            font-size: 29px;
            font-weight: 700;
        }
    }
    .keypad {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 80%;
        padding: 10px 0 15px 0;
        .key {
            background-color: $aqua;
            background: rgb(127, 255, 212);
            background: -moz-linear-gradient($keyBG);
            background: -webkit-linear-gradient($keyBG);
            background: linear-gradient($keyBG);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            border-radius: 5px;
            height: 65px;
            transition-duration: 0.5s;
            box-shadow: 0 2px 0 rgb(44, 72, 73, 0.25), 0 2px 0 lightGrey, 0 2px 6px rgba(44, 72, 73, 0.45);
            &:hover {
                color: rgb(62, 62, 62);
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
                transform: translateY(3px);
            }
        }
    }
    .leftCol {
        height: 100%;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-left: -5px;
        .key {
            width: 29%;
        }
    }
    .rightCol {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: -3px;
        .key {
            width: 90%;
            &:nth-child(2) {
                height: 215px;
            }
        }
    }
}